.info {
    display: flex;
    column-gap: rems(104);
    width: fit-content;
    @include fontFam(raleway, 400);
    font-size: rems(18);
    transform: translate(50%, 10%);
    
    &__link-address:hover .info__icon-label::before,
    &__link-phone:hover .info__icon-phone::before {
        color: $accent;
    }

    &__icon-label,
    &__icon-phone {
        font-size: rems(21);
        &::before {
            transition: color 0.2s ease-in;
        }
    }

    &__icon-label {
        margin-right: rems(9);
    }
    &__icon-phone {
        margin-right: rems(10);
    }
}
