:root {
  --def-font-size: 16px;
  --white-color: #fff;
  --lightGr1: #ededed;
  --myGrey: #424242;
  --darkText: #252525;
  --accentPink: #e43071;
  --pinkHover: #be285e;
  --subAc: #ffc1d8;
  --pinkSubtitle: #ffdae7;
  --pinkDisabled: #d37899;
}

@font-face {
  font-family: playfair-display;
  src: url("../fonts/playfair-display/PlayfairDisplayBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: post-no-bills-jaffna;
  src: url("../fonts/post-no-bills-jaffna/PostNoBillsJaffna-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/Raleway-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: raleway;
  src: url("../fonts/raleway/Raleway-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: roboto;
  src: url("../fonts/roboto/Roboto-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "icomoon-bronze";
  src: url("../fonts/icomoon/icomoon-bronze.eot?wgeulr");
  src: url("../fonts/icomoon/icomoon-bronze.eot?wgeulr#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon-bronze.ttf?wgeulr") format("truetype"), url("../fonts/icomoon/icomoon-bronze.woff?wgeulr") format("woff"), url("../fonts/icomoon/icomoon-bronze.svg?wgeulr#icomoon-bronze") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "icomoon-white";
  src: url("../fonts/icomoon/icomoon-white.eot?wgeulr");
  src: url("../fonts/icomoon/icomoon-white.eot?wgeulr#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon-white.ttf?wgeulr") format("truetype"), url("../fonts/icomoon/icomoon-white.woff?wgeulr") format("woff"), url("../fonts/icomoon/icomoon-white.svg?wgeulr#icomoon-white") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.color-br {
  font-family: "icomoon-bronze" !important;
}

.color-wh {
  font-family: "icomoon-white" !important;
}

._icon-bench:before {
  content: "\e900";
  color: #d4c17f;
  font-size: 50px;
}

._icon-bicycle:before {
  content: "\e901";
  color: #d4c17f;
}

._icon-building:before {
  content: "\e902";
  color: #d4c17f;
}

._icon-fountain:before {
  content: "\e903";
  color: #d4c17f;
}

._icon-mouse:before {
  content: "\e904";
  color: #d4c17f;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-instagram:before {
  content: "\e901";
  color: #fff;
}

._icon-phone:before {
  content: "\e902";
  color: #fff;
}

._icon-label:before {
  content: "\e903";
  color: #fff;
}

._icon-vk:before {
  content: "\e904";
  color: #fff;
}

._icon-youtube:before {
  content: "\e905";
  color: #fff;
}

.header {
  color: red;
}

.playfairDisplay {
  font-family: playfair-display, sans-serif;
  font-weight: 700;
}

.postNoBillsJaffna {
  font-family: post-no-bills-jaffna, sans-serif;
  font-weight: 400;
}

.ralewayRegular {
  font-family: raleway, sans-serif;
  font-weight: 400;
}

.ralewayBold {
  font-family: raleway, sans-serif;
  font-weight: 700;
}

.robotoLight {
  font-family: roboto, sans-serif;
  font-weight: 300;
}

.btn {
  width: 100%;
  max-width: 15.9375rem;
  display: inline-block;
  padding: 0.75rem 0.625rem;
  line-height: 1.6875rem;
  font-size: 1rem;
  font-family: playfair-display, sans-serif;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */