// The name of the folder with fonts, which is in the public or source folder
$folderWithAllFonts: 'fonts';

// Fonts name
$font-main: Raleway;
$font-accent: Playfair-display;
$font-secondary: Roboto;

// Variable COLORS in CSS format
$dark: #242b33;
$footer-bg: #2d343c;
$accent: #d4c17f;
$white: #ffffff;
$grey-text1: #e7e7e7;
$grey-text2: #bebebe;

// Variables for calculations in SCSS

$root-font-size: 16; // Base font size

$content-width: 1100; // Content width

$btn-main-width: 255; // Width of main buttons
$btn-main-pad-tb: 12; // Top/bottom padding
$btn-main-pad-lr: 10; // Left/Right padding
$btn-main-line-height: 27; // Row height for buttons
$btn-main-f-size: 16; // Font size of main buttons

// Icomoon fonts variables
$icomoon-font-path: 'fonts/icomoon' !default;
$icomoon-font-family-br: 'icomoon-bronze' !default;
$icomoon-font-family-wh: 'icomoon-white' !default;

// Bronze color
$icon-bench: unquote('"\\e900"');
$icon-bicycle: unquote('"\\e901"');
$icon-building: unquote('"\\e902"');
$icon-fountain: unquote('"\\e903"');
$icon-mouse: unquote('"\\e904"');

// White color
$icon-facebook: unquote('"\\e900"');
$icon-instagram: unquote('"\\e901"');
$icon-phone: unquote('"\\e902"');
$icon-label: unquote('"\\e903"');
$icon-vk: unquote('"\\e904"');
$icon-youtube: unquote('"\\e905"');
