// !TO PERCENT %:
@function perc($pxOne, $pxTwo) {
    $result: math.div($pxOne, $pxTwo) * 100%;
    @return $result;
}

// !TO EM:
@function em($px) {
    $result: math.div($px, 16) + em;
    @return $result;
}

// !TO REM:
@function rems($px) {
    $result: math.div($px, $root-font-size) + rem;
    @return $result;
}