// Specify the path to the font file relative to the main file "main.css"

@include fontFace(Playfair-display, 700, PlayfairDisplayBold);

@include fontFace(Post-no-bills-jaffna, 400, PostNoBillsJaffna-SemiBold);

@include fontFace(Raleway, 400, Raleway-Regular);

@include fontFace(Raleway, 700, Raleway-Bold);

@include fontFace(Roboto, 300, Roboto-Light);

// An example of how to connect fonts

// .playfairDisplay {
//     @include fontFam(playfair-display, 700);
// }
// .postNoBillsJaffna {
//     @include fontFam(post-no-bills-jaffna, 400);
// }
// .ralewayRegular {
//     @include fontFam(raleway, 400);
// }
// .ralewayBold {
//     @include fontFam(raleway, 700);
// }
// .robotoLight {
//     @include fontFam(roboto, 300);
// }

// Icomoon icon font
@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('../#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wgeulr');
    src: url('../#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wgeulr#iefix')
            format('embedded-opentype'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wgeulr')
            format('truetype'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wgeulr')
            format('woff'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wgeulr##{$icomoon-font-family}')
            format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='_icon-']::before,
[class*=' _icon-']::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-family: '#{$icomoon-font-family}' !important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._icon-bench::before {
    content: $_icon-bench;
    color: #fff;
}

._icon-bicycle::before {
    content: $_icon-bicycle;
    color: #fff;
}

._icon-building::before {
    content: $_icon-building;
    color: #fff;
}

._icon-facebook::before {
    content: $_icon-facebook;
    color: #fff;
}

._icon-fountain::before {
    content: $_icon-fountain;
    color: #fff;
}

._icon-instagram::before {
    content: $_icon-instagram;
    color: #fff;
}

._icon-mouse::before {
    content: $_icon-mouse;
    color: inherit;
    // color: #fff;
    // &:hover {
    //     color: $accent;
    // }
}

._icon-phone::before {
    content: $_icon-phone;
    color: #fff;
}

._icon-label::before {
    content: $_icon-label;
    color: #fff;
}

._icon-vk::before {
    content: $_icon-vk;
    color: #fff;
}

._icon-youtube::before {
    content: $_icon-youtube;
    color: #fff;
}
