body {
    @include fontFam($font-main, 400, sans-serif);
    background-color: $dark;
    color: $white;
    font-size: $root-font-size; // 16px
}

a {
    color: $white;

    &:hover {
        color: $accent;
        transition: color 0.2s ease-in;
    }
}