// Specify the path to the font file relative to the main file "main.css"

@include fontFace(playfair-display, 700, PlayfairDisplayBold);

@include fontFace(post-no-bills-jaffna, 400, PostNoBillsJaffna-SemiBold);

@include fontFace(raleway, 400, Raleway-Regular);

@include fontFace(raleway, 700, Raleway-Bold);

@include fontFace(roboto, 300, Roboto-Light);

// Icomoon icon font
@font-face {
    font-family: '#{$icomoon-font-family-br}';
    src: url('../#{$icomoon-font-path}/#{$icomoon-font-family-br}.eot?wgeulr');
    src: url('../#{$icomoon-font-path}/#{$icomoon-font-family-br}.eot?wgeulr#iefix')
            format('embedded-opentype'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family-br}.ttf?wgeulr')
            format('truetype'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family-br}.woff?wgeulr')
            format('woff'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family-br}.svg?wgeulr##{$icomoon-font-family-br}')
            format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: '#{$icomoon-font-family-wh}';
    src: url('../#{$icomoon-font-path}/#{$icomoon-font-family-wh}.eot?wgeulr');
    src: url('../#{$icomoon-font-path}/#{$icomoon-font-family-wh}.eot?wgeulr#iefix')
            format('embedded-opentype'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family-wh}.ttf?wgeulr')
            format('truetype'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family-wh}.woff?wgeulr')
            format('woff'),
        url('../#{$icomoon-font-path}/#{$icomoon-font-family-wh}.svg?wgeulr##{$icomoon-font-family-wh}')
            format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="_icon-"]::before, 
[class*=" _icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.color-br {
    font-family: '#{$icomoon-font-family-br}' !important;
}

.color-wh {
    font-family: '#{$icomoon-font-family-wh}' !important;
}

._icon-bench {
    &:before {
        content: $icon-bench;
        color: #d4c17f;
        font-size: 50px;
    }
}
._icon-bicycle {
    &:before {
        content: $icon-bicycle;
        color: #d4c17f;
    }
}
._icon-building {
    &:before {
        content: $icon-building;
        color: #d4c17f;
    }
}
._icon-fountain {
    &:before {
        content: $icon-fountain;
        color: #d4c17f;
    }
}
._icon-mouse {
    &:before {
        content: $icon-mouse;
        color: #d4c17f;
    }
}

._icon-facebook {
    &:before {
        content: $icon-facebook;
        color: #fff;
    }
}
._icon-instagram {
    &:before {
        content: $icon-instagram;
        color: #fff;
    }
}
._icon-phone {
    &:before {
        content: $icon-phone;
        color: #fff;
    }
}
._icon-label {
    &:before {
        content: $icon-label;
        color: #fff;
    }
}
._icon-vk {
    &:before {
        content: $icon-vk;
        color: #fff;
    }
}
._icon-youtube {
    &:before {
        content: $icon-youtube;
        color: #fff;
    }
}

.house {
    background-color: green;
}
